<!-- Purpose: HTML code for the index page -->

<!--Inherits CSS created for the design of this page-->
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}" />

<!-- Inherits from layout.html -->
{% extends "layout.html" %}

<!-- The block title replace the one encapsulated in  layout.html -->
{% block title %}Reshaping payments - Wallets{% endblock %}

<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}

<div class="row mainPages">
	<!-- Header and image of the page -->
	<div class="web_image">
		<div class="web_image_text">Reshaping payments - Wallets</div>
	</div>
</div>
{% endblock %}