<!-- Purpose: HTML code for the registration page -->

<!--Inherits CSS created for the design of this page-->
<link rel="stylesheet" href="{{ url_for('static',filename='css/register.css')}}" />

<!-- Inherits from layout.html -->
{% extends "layout.html" %}

<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}

<!-- Flashes message during error -->
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert-{{category}} text-center">{{ message }}</div>
{% endfor %}

<div class='row register-form'>
    <div class='container'>
        <div class='main'>
            <div class='content'>
                <h2>Register</h2>
                <!-- Register form to pass data to the backend -->
                <form name='frmRegister' action='/register' method='POST'>
                    {{ form.hidden_tag() }}

                    <input type='text' id='fullname' name='fullname' placeholder='Full Name' required>
                    {% for error in form.username.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}

                    <input type='email' id='email' name='email' placeholder='Email' required>
                    {% for error in form.username.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}

                    <input type='text' id='username' name='username' placeholder='User Name' required>
                    {% for error in form.username.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}

                    <input type='password' id='password' name='password' placeholder='Password' required>
                    {% for error in form.password.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}

                    <input type='password' id='confirm' name='confirm' placeholder='Confirm Password' required>
                    {% for error in form.confirm.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}

                    <!-- Submit button -->
                    <input class='submitButton' type='submit' id='submit' name='submit' value='Register'>
                </form>
                <!-- Navigate to login page -->
                <p class='account'> Have an account? <a href='/login'>Login</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}