<!-- Purpose: HTML code for the index page -->

<!--Inherits CSS created for the design of this page-->
<!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}" /> -->
<!-- Inherits from layout.html -->
{% extends "layout.html" %}

{% block Transactionjsscript %}<script src="../static/scripts/transaction.js"></script>{% endblock %}
{% block Transactioncssscript %}<link rel="stylesheet" href="../static/css/transaction.css" />{% endblock %}
<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}
<div id="table">
    <div class="container">
        <table id="myTable" class="display" style="overflow-x:auto;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
