.welcome {
    text-align: center;
    margin: 30px;
}

.account {
    text-align: center;
    margin: 30px;
}

.container {
    text-align: center;
    margin: 30px;
}

.accountID {
    text-align: center;
}