<!-- Purpose: HTML code for the footer-->

<!-- Inherits CSS created for the design of this page -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/footer.css')}}" />

<div class='container-footer'>
	<div class='row'>
		<!-- Create a column -->
		<div class='footer-col'>
			<h4>Site</h4>
			<!-- Navigation -->
			<ul>
				<li><a href='/'>Home</a></li>
			</ul>
		</div>
	</div>
	<!-- Copyright text -->
	<div class='row copyright'>
		<p>Copyright &copy;2024. &#9865; Reshaping payemtns - Wallets &#9865; All rights reserved.</p>
	</div>
</div>